ul{
  margin: 0;
  padding: 0;
   list-style: none;
   height: 70px;
   line-height: 50px;
   background-color: yellow;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px ;
   
}
li{
  
  float: left;
  overflow: hidden;
  
  border-right: 2px solid rgb(141, 9, 141);
}
a{
  display: block;
  padding: 0 28px;
  color: rgb(141, 9, 141);
  text-decoration: none;
   
}
a:hover{
  background-color: blue;
  color: white;
}
.active a{
  background-color: blue;
  color: white;
}
.contact{
  border-right: none;
}
.list{
  margin-left: 40px;
  margin-top: 4px;
  position: absolute;
  top: 18px;
  background-color: yellow;
}